
form{
  width: 100%;
  margin:auto;
  border-radius: 5px;
  background-color: rgb(255,255,255);
  opacity: 0.9;
}

.form-container{
  width: 100%;
  margin:auto;
}

.register-form-container{
  width: 50%;
  margin:auto;
}

.view-plants-form-container{
  width: 50%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 25%;

}

.register-container{
  margin-bottom: 12%;    
}


.footer-container{
  width: 100%;
  background-color: rgb(145, 207, 53);
  opacity: 0.9;
}

body{
  background-image: url("https://image.freepik.com/free-vector/cactus-botanical-cacti-green-cactaceous-succulent-plant-botany-illustration-floral-realistic-set-cartoon-exotic-flowers-isolated-transparent-background_109722-1811.jpg");
  height:100vh; 
  margin:0;
  display:flex; 
  flex-direction:column; 
  }

  .login-footer{
    width: 90%;
    margin-top:auto; 
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(145, 207, 53);
    opacity: 0.9;
  }

  .view_plants_footer{
    width: 100%;
    margin-top:auto; 
    margin-left: auto;
    margin-right: auto;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(246, 246, 251, 0) 0%, rgb(145, 207, 53) 100%);
    
    opacity: 0.9;
  }

  footer a{
    text-decoration: none;
    color: white;
  }
  


  footer .button-container{
    width: 27%;
    background-color:antiquewhite;
    opacity: 0.9;
    margin:auto;
    text-align: center;
    color: red;
    padding: 0.2em;
    border-radius: 15px;
  }

  .upload{
    margin:5px;
  }


  footer .button-container-view_plants{
    width: 27%;
    opacity: 0.9;
    margin:auto;
    text-align: center;
    color: red;
    padding: 0.2em;
    border-radius: 15px;
  }


h1{
  text-align: center;
  background-color: rgb(255,255,255);
  color:rgb(255,0,0);
  padding: 10px;
  border-radius: 10px;
  position:absolute;
  top: 5%;
  left: 30%;
  right: 30%;
}

p{
  background-color: rgb(255,255,255);
  opacity: 0.9;
  padding: 7px;
  margin:auto;
  position: absolute;
  top: 30%;
  border-radius: 7px;
}

ul{
  list-style-type: none;
}



.flashes{
  text-align:center;
  margin-top:3%;
  padding: 7px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgb(220, 113, 113);
  opacity: 0.9;
  color:white;
  border-radius: 10px;
}