<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Plants</title>
</head>
<body>
  <div class="container">
    <h1 class="text-center"> Welcome to the plant identifier</h1>
</div>


    <div class="form-container">
    <div class="position-absolute top-50 start-50 translate-middle">
        <form action="" method="POST">
          {{form.hidden_tag()}}

          <label class="form-label text-center">Enter your username</label>
          <div class="mb-3">
            {{form.username(class="form-control")}}
          </div>
          <div class="mb-3">
            <labe class="form-label text-center">Enter your passsword</label>
            {{form.password(class="form-control")}}
          </div>
          <div class="mb-3">
            {{form.submit(class="container btn btn-success")}}
          </div>
        </form>
    </div>
</div>
</div>




</body>


<div class="footer-container">
<footer class="login-footer">
  <p id="footer_para" class="text-center" >No account yet? Register now to start identifying plants immediately!</p>
  <div class="button-container">
  <a class="button btn btn-sm" href="{{ url_for('register_user') }}"> register for a new account!</a>
</div>
</footer>
</div>



</html>
