<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your plants</title>
</head>
<body>
    <h1> Welcome to your plants collection!</h1>
  
    <p>upload a new plant for identification, view your previous plants or delete all your previously viewd plants</p>

    <form action="#" method="post">
        <label>Upload plant file:<input required type="file"></label>
        <input type="submit" value="submit">
    </form>
        <a href="#">view plants:><a>
   <button><a href="{{ url_for('delete_user', id=id)}}">Delete Account</a></button>
        
</body>
</html>