<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your plants</title>
</head>
<body>
    <h1> Welcome to your plants collection!</h1>
  
    <p>upload a new plant for identification, view your previous plants or delete all your previously viewd plants</p>

    <p>Upload an image and select whether it is a leaf, flower, fruit or bark/stem picture</p>
    <form action="#" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.file }}
        {{ form.organs }}
        {{ form.upload }}
      
      </form>
        <a href="#">view plants:><a>
            <button><a href="{{ url_for('logout')}}">Press Here to Log Out</a></button>
   <button><a href="#">Press Here to Delete Account</a></button>
        
</body>
</html>