<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <title>Your plants</title>
</head>
<body>
    <h1> Welcome to your plants collection!</h1>
  
    <p>Upload a new plant for identification, view your previous plants or delete all your previously viewed plants.
    Upload an image and select whether it is a leaf, flower, fruit or bark/stem picture
    </p>
    

    <!----
    <div class="button-container-view_plants">
    <a  class="btn btn-success" href="#">view plants!<a>
    </div>
--->

<div class="view-plants-form-container">
    <form action="#" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.file(class="btn btn-light") }}

        <div class="form-check disabled">
            {{ form.organ }}
        </div>
        <div class="mb-3 container">
        {{ form.upload(class="btn btn-primary upload") }}
        </div>
      </form>
    </div>

    {%if file %}
      <img class="img-fluid mb-3 mb-lg-0 grid user_upload" src='{f{static/user_uploads/filename{file}}}'' alt=""/>
      {%endif%}
        


    {% with messages = get_flashed_messages()%}
    {% if messages %}
    <div class="answer-container">
    <ul class=plant-flashes>
        
        {% for message in messages %}
            {% for key, value in message.items() %}
                <li>{{key}} {{value}}</li>
                    {% endfor %}    
            {% endfor %}
        </ul>
    </div>
        {% endif %}
    {%endwith %}
    

</body>
<footer class="view_plants_footer">
    <div class="button-container-view_plants">
    <button class="btn btn-warning"><a href="{{ url_for('logout')}}">Press Here to Log Out</a></button>
    </div>
    <div class="button-container-view_plants">
<button class="btn btn-danger"><a href="#">Press Here to Delete Account</a></button>
</div>
</footer>
</html>